.trailerSection {
  margin-top: 30px;
  font-size: 5rem;
  color: #333;
}

.trailerSection iframe {
  width: 100%; /* Makes the iframe take full width of its container */
  max-width: 1120px; /* Limits the width to 1120px */
}

.placeholder {
  width: 100%;
  max-width: 1120px;
  height: 315px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  border-radius: 10px;
  font-size: 1.2rem;
}

.placeholder img {
  width: 100%;
  max-width: 300px;
  height: auto;
}
