/* Centering h1 and img */
.animedetailsh1 {
  font-size: 5rem;
  margin-bottom: 20px;
  text-align: center; /* Centers the text */
}

.animedetailsimg {
  width: 30%; /* Adjust size as needed */
  border-radius: 10px;
  margin-bottom: 20px;
  display: block; /* Ensures the image is treated as a block element */
  margin-left: auto; /* Centers the image horizontally */
  margin-right: auto; /* Centers the image horizontally */
}

/* The rest of the content */
.animedetailsP {
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 5px;
}

.animedetailsA {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

.animedetailsA:hover {
  text-decoration: underline;
}

.button-62 {
  border-radius: 8px;
  border-width: 0;
  border: solid 1px var(--button-border-color); /* Set border color dynamically */
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms; /* Smooth transition */
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: var(--button-bg-color); /* Set button background color dynamically */
}

/* Hover effect */
.button-62:hover {
  background-color: var(--button-hover-bg-color); /* Set hover background color */
  border-color: var(--button-hover-border-color); /* Set hover border color */
}
